:root {
  /* globals */
  --font-default: Inter, ui-sans-serif, system-ui, sans-serif;
  --page-bg: white;
  --page-text: #333;
  --content-gutter: 1em;
  --content-width: 100%;

  /* blocks for <App> */
  --header-bg: #006699;
  --header-text: #eeeeee;
  --body-border: #333333;
}

@media screen and (min-width: 750px) {
  :root {
    --content-width: 750px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* globals */
    --page-bg: black;
    --page-text: #eeeeee;

    /* blocks for <App> */
    --header-bg: #00aaee;
    --header-text: #333333;
    --body-border: #cccccc;
  }
}

/* ========================================================================= */

:root {
  background-color: var(--page-bg);
  color: var(--page-text);
  color-scheme: light dark;
  font-family: var(--font-default), sans-serif;
}

/* ========================================================================= */

._header_iau7o_45 {
  background-color: var(--header-bg);
  color: var(--header-text);
  display: flex;
  justify-items: center;
  justify-content: center;

  & > * {
    flex: 1;
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: var(--content-width);
    padding: var(--content-gutter);
  }
}

._body_iau7o_62 {
  border: 1px dashed var(--body-border);
  display: flex;
  flex-direction: column;
  margin: var(--content-gutter) auto;
  padding: var(--content-gutter);
  width: var(--content-width);
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
